{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        {% block additionalHead %}{% endblock %}


        <title>hello world</title>
    </head>
    <body>
        <nav>
            <div class="desktop-nav-container">
                <div class="desktop-nav-header"><h1>Welcome!!! name</h1></div>
                <ul>
                    <li><a href="/admin">log In</a></li>
                    {% if request.user.is_authenticated  == True %}
                    <li><a href="#">Debug</a></li>
                    <li><a href="/uploadfiles">Upload file</a></li>
                    <li><a href="/">Dashboard</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% block content %}{% endblock %}
        <footer>Copyright &copy; 2019</footer>
    </body>
</html>