{% extends "base.html" %}
{% load static %}
{% block additionalHead %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div class="index-container">
    <div class="dashbord-wraper">
    {% for alert in alerts %}
        <div class="content-row">
            <div class="content-resolved-button">
                {% if request.user.is_authenticated %}
                    <input type="submit" class="btn" value="Resolve" name="remove-alert-btn" onclick="resolveAlert({{ alert.id }});">
                {% endif %}
            </div>
            <div class="content-data"><p class="content-text">{{ alert.message }}</p></div>
        </div>
        {% endfor %}
        <form id="resolveForm" action="">
            {% csrf_token %}
            <input id="resolveID" type="hidden" value="" method="POST">
        </form>
    </div>
</div>

{% endblock content %}
{% block scripts %}
<script type="Text/JavaScript">
    function resolveAlert(id) {
        
        document.getElementById("resolveID").value = id;
        document.getElementById("resolveForm").submit();
        
        window.alert("Resolving Alert with ID " + id);
    }
</script>
{% endblock %}