{% extends "base.html" %}
{% load static %}
{% block additionalHead %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div class="index-container">
    <div class="dashbord-wraper">
        <div class="content-row">
            <div class="content-resolved-button">
                <input type="submit" class="btn" value="click" name="remove-alert-btn">
                <button onclick="resolveAlert({{ alert.id }});">
            </div>
            <div class="content-data"><a class="content-text" href="#">11/02/19 5th street sidewalk maintenance</a></div>
        </div>
        <form id="resolveForm">
            <input id="resolveID" type="hidden" value="" method="POST">
        </form>
    </div>
</div>


{% endblock content %}
<script type="Text/JavaScript">
    function resolveAlert(int id) {
        document.getElementById("resolveID").value = id;
        document.getElementById("resolveForm").submit();
    }
</script>